{% extends "base.html" %}
{% block content %}
        <h1>THIS IS PROFILE PAGE </h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
</head>
<style>
</style>
<body>
<p>{{msg}}</p>
  <div class="container">
    <h2>Registration Form</h2>
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <label for="username">Name:</label>
    <input type="text" name="username" value={{name}}>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" value={{email}} >
    <br>
    <label for="phone">Contact:</label>
    <input type="tel" name="phone" value={{phone}} >
    <br>
    <br>
    <label for="dob">DOB:</label>
    <input type="date" name="dob" value={{dob}}>
    <br>
    <br>
    <label for="subscribe">Education:</label>
    <input type="checkbox" name="subscribe" value={{subscribe}}>Engineering & Technology
    <input type="checkbox" name="subscribe" value={{subscribe}}>Medical
    <input type="checkbox" name="subscribe" value={{subscribe}}>Dental Science
    <input type="checkbox" name="subscribe" value={{subscribe}}>Ayurveda
    <input type="checkbox" name="subscribe" value={{subscribe}}>Nursing
    <input type="checkbox" name="subscribe" value={{subscribe}}>Para-Medical
    <input type="checkbox" name="subscribe" value={{subscribe}}>Agriculture
    <input type="checkbox" name="subscribe" value={{subscribe}}>Commerce & Management
    <input type="checkbox" name="subscribe" value={{subscribe}}>Journalism & Mass Communication
    <input type="checkbox" name="subscribe" value={{subscribe}}>Juridical Science(LAW)

    
    <br>
    <label for="gender">Gender:</label>
    <input type="radio" name="gender" value={{gender}}> Male
    <input type="radio" name="gender" value={{gender}}> Female
    <br>
    <label for="profile-pic">Image:</label>
    <input type="file" name="profile-pic" value={{profile_pic}} accept=".jpeg, .png" >
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password">
    <br>
    <label for="password">Con_Password:</label>
    <input type="password" name="cpassword">
    <br>
    <input type="submit" value="Submit">

</form>
</div>
</body>
</html>
        
{% endblock %}